.header {
    background: #0077b6;
    color: #fff;
    text-align: center;
    padding: 8px;


}

.nav-bar-list {
    background: #023e8a;
    display: flex;

    justify-content: center;



}

ul {
    display: flex;
    list-style-type: none;

}

li {




    padding: 10px;
    color: white;

}

h2 {
    color: #023e8a;


}

.project-div {


    background: #fff;
    border-radius: 8px;

    padding: 20px;
    box-shadow: 0, 2px, 5px, rgba(0, 0, 0, 0.1);



}

.Main-project-div {

    display: flex;




}

footer {
    background: #03045e;
    color: #fff;
    text-align: center;
    padding: 5px;




}